In [7]:
## Grading Program ##

student_scores = {
  "Harry": 81,
    "Wawan": 76,
    "Roni": 78,
  "Imron": 99, 
  "Draco": 74,
    "Beben": 90,
    "Pilo": 55,
  "Neville": 68,
    "Dancaw": 88,
}

# This is the scoring grades of criteria:
#     Scores 91 - 100: Grade = "Outstanding"
#     Scores 81 - 90: Grade = "Exceeds Expectations"
#     Scores 71 - 80: Grade = "Acceptable"
#     Scores 70 or lower: Grade = "Fail"

student_grade = {}

for student in student_scores:
    score = student_scores[student]
    if score > 90:
        student_grade[student] = "Outstanding"
    elif score > 80:
        student_grade[student] = "Exceeds Expectations"
    elif score > 70:
        student_grade[student] = "Acceptable"
    else:
        student_grade[student] = "Fail"
        
print(student_grade)

{'Harry': 'Exceeds Expectations', 'Wawan': 'Acceptable', 'Roni': 'Acceptable', 'Imron': 'Outstanding', 'Draco': 'Acceptable', 'Beben': 'Exceeds Expectations', 'Pilo': 'Fail', 'Neville': 'Fail', 'Dancaw': 'Exceeds Expectations'}

In [10]:
# Nesting a List in a Dictionary Error Code

travel_log = {
    "Indonesia": "Jakarta", "Jogja", "Bandung", "Cimahi",
    "America": "Manhattan", "New York", "Seattle",
}

print(travel_log)

SyntaxError: invalid syntax (<ipython-input-10-f235d7825e8f>, line 4)

In [8]:
# Nesting a List in a Dictionary

travel_log = {
    "Indonesia": ["Jakarta", "Jogja", "Bandung", "Cimahi"],
    "America": ["Manhattan", "New York", "Seattle"],
}

print(travel_log)

{'Indonesia': ['Jakarta', 'Jogja', 'Bandung', 'Cimahi'], 'America': ['Manhattan', 'New York', 'Seattle']}

In [12]:
# Nesting a List in a Dictionary

travel_log = {
    "Indonesia": ["Jakarta", "Jogja", "Bandung", "Cimahi"],
    "America": ["Manhattan", "New York", "Seattle"],
}

travel_log["Indonesia"] = ["Makasar", "Medan"]

print(travel_log)

{'Indonesia': ['Makasar', 'Medan'], 'America': ['Manhattan', 'New York', 'Seattle']}

In [18]:
travel_log = {
    "Indonesia": {"cities_visited": ["Jakarta", "Jogja", "Bandung", "Cimahi"]},
    "America": ["Manhattan", "New York", "Seattle"],
}

print(travel_log)
print("\n")
print(travel_log["Indonesia"])

{'Indonesia': {'cities_visited': ['Jakarta', 'Jogja', 'Bandung', 'Cimahi']}, 'America': ['Manhattan', 'New York', 'Seattle']}


{'cities_visited': ['Jakarta', 'Jogja', 'Bandung', 'Cimahi']}

In [19]:
#Nesting Dictionaries in Lists

travel_log = [
{
  "country": "France", 
  "cities_visited": ["Paris", "Lille", "Dijon"], 
  "total_visits": 12,
},
{
  "country": "Germany",
  "cities_visited": ["Berlin", "Hamburg", "Stuttgart"],
  "total_visits": 5,
},
]